@import "../bower_components/makerstrap/less/makerstrap.less";

/*********************************************************
* Variables
*/

@border-radius-base: 0;

// Fixed sidebar
@explore-sidebar-width: 300px;

// Container - offset for fixed sidebar
@container-tablet:             ((720px + @grid-gutter-width) - @explore-sidebar-width);
@container-desktop:            ((940px + @grid-gutter-width) - @explore-sidebar-width);
@container-large-desktop:      ((1140px + @grid-gutter-width) - @explore-sidebar-width);

// Gallery
@thumbnail-border: #DDD;

/*********************************************************
* Base
*/

@media screen and (min-width: @screen-xs) {
  html,
  body,
  .wrapper {
    height: 100%;
  }

  body {
    overflow: hidden;
  }
}

.wrapper {
  padding-top: 50px;
}

[ng-cloak],
.ng-cloak {
  display: none !important;
}

.section-header {
  .page-header;
  border-bottom: none;
}

/*********************************************************
* Header
*/

.navbar-container {
  @media screen and (min-width: @screen-sm) {
    padding-right: @grid-gutter-width;
  }
}

/*********************************************************
* Sidebar
*/

.explore-sidebar {
  height: 100%;
  overflow-y: auto;
  background: @brand-secondary;

  .hidden-xs();

  float: left;
  width: 33%;
  max-width: 300px;

}

.explore-sidebar-nav {
  position: relative;
  z-index: 1;

  // Spacing
  > li + li {
    margin-top: 0;
  }

  // Each element, active states
  > li {
    transition: all 0.2s ease-in-out;
    opacity: 0.5;
    position: relative;

    &:hover,
    &.active {
      opacity: 1;
    }
  }

  &.unselected > li {
    opacity: 0.85;

    &:hover {
      opacity: 1;
    }
  }

  // Links
  > li > a {
    padding: 20px 15px;
    color: #FFF;
    //font-weight: 300;

    &:hover {
      color: #FFF;
      background: none;
    }
  }

}

/*********************************************************
* Main
*/

.img-mentor-avatar {
  width: 110px;
  height: 110px;
}

.explore-main {
  height: 100%;
  overflow: auto;
  min-width: 67%;
}

.mentor-circle-btn {
  background: @brand-primary;
  width: 110px;
  height: 110px;
  line-height: 110px;
  border-radius: 110px;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.1em;
  cursor: pointer;
  &:hover {
    background: lighten(@brand-primary, 10%)
  }
}

.btn-create-kit {
  width: 80px;
  height: 80px;
  line-height: 80px;
  font-size: 20px;
  padding: 0;
  margin-bottom: 15px;
  border: 1px dashed darken(@brand-primary, 20%);
}

.well-create-kit {
  box-shadow: none;
  padding: 40px;
  margin: 30px 0;
}

.gallery .page-header {
  color: darken(#E3EAEE, 45%);
  border-bottom-color: darken(#E3EAEE, 5%);
}

/*********************************************************
* Add
*/

.explore-jumbotron-add {
  background: black;
}
