<div class="jumbotron" style="background: {{skill.colour}}">
  <div class="container">
    <h1>{{ skill.name }}</h1>
    <p>{{ skill.description }}</p>
  </div>
</div>

<div class="container">

  <div class="peoples">
    <h2 class="page-header">Featured Mentors</h2>

    <div class="row text-center">

      <div ng-repeat="mentor in mentors" class="col-sm-3">
        <img ng-src="{{mentor.avatar}}" alt="{{mentor.name}}" class="img-circle img-mentor-avatar">
        <p>{{mentor.name}}<br>
        <span class="text-muted">{{mentor.title}}</span></p>
      </div>

      <div class="col-sm-3">
        <div class="mentor-circle-btn">
          Nominate
        </div>
      </div>

    </div>

  </div>

</div>


<div ng-hide="kits.length" class="well well-create-kit text-center">
  <div class="container">

    <button class="btn btn-primary btn-create-kit"><span class="fa fa-plus"></span></button>
    <p class="text-muted">There are no kits yet. <a href="#">submit some</a>!</p>
  </div>
</div>

<div ng-show="kits.length">

  <div class="container">

    <h2 class="page-header">Kits</h2>

    <div class="row">
      <div ng-repeat="kit in kits" class="col-md-4 col-lg-3">
        <div class="thumbnail">
          <div class="caption">
            <h3>{{kit.title}}</h3>
            <p class="text-muted">Created by <a href="{{kit.authorUrl}}">{{kit.author}}</a></p>
            <p class="text-muted">{{kit.description}}</p>
            <p class="text-primary">
              <span class="fa fa-check"></span> 34 Endorsements
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div ng-repeat="kit in makes" class="col-md-4 col-lg-3">
        <div class="thumbnail">
          <div class="caption">
            <h3>{{kit.title}}</h3>
            <p class="text-muted">Created by <a href="{{kit.author}}">{{kit.username}}</a></p>
            <p class="text-muted">{{kit.description}}</p>
            <p class="text-primary">
              <span class="fa fa-check"></span> 34 Endorsements
            </p>
          </div>
        </div>
      </div>
    </div>

    <p><button class="pull-right btn btn-primary">
      <span class="fa fa-plus"></span> Add a kit
    </button></p>
  </div>

</div>

<div class="container" ng-controller="eventsController">
  <h2 class="page-header">Events</h2>
</div>

